<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.hellospring.repository.MemberMapper">


    <insert id="save" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO member (id, name)
        values (#{Id}, #{name})
    </insert>

    <select id="findById" resultType="Member">
        SELECT id, name
        FROM member
        where id = #{id}
    </select>
    <select id="findByName" resultType="Member">
        SELECT id, name
        FROM member
        where name = #{name}
    </select>
    <update id="updateMember">
        UPDATE member
        SET name=#{updateParam.name},
        WHERE id=#{id}
    </update>
    <delete id="deleteMember">
        DELETE FROM member
        WHERE id=#{memberId}
    </delete>
    <select id="findAll" resultType="Member">
        select id, name
        from member
    </select>
</mapper>